ws-security/src/main/webapp/wsdl/securedwsi_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jboss.org/as/quickstarts/wssecurity" elementFormDefault="unqualified" targetNamespace="http://jboss.org/as/quickstarts/wssecurity" version="1.0">
<xs:element name="callSecuredWSMethod" type="tns:callSecuredWSMethod"/>
<xs:element name="callSecuredWSMethodResponse" type="tns:callSecuredWSMethodResponse"/>
<xs:complexType name="callSecuredWSMethod">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="callSecuredWSMethodResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
